[data-testid="stSidebarNav"]{
                height: 500px;
                background-image: url(https://files.dnb.de/DFG-Viewer/DNB-Logo-Viewer.jpg);
                background-repeat: no-repeat;
                background-position: 25px 25px;
                }
[data-testid="stSidebarNav"]::before{
                content: "DNBVIS_frodiss";
                font-size: 25px;
                top: 90px;
                margin-left: 25px;
                position: relative;
                }
.st-emotion-cache-79elbk{
                max-height: 450px;
                padding-top: 125px;
                height: 400px;      
}
.st-emotion-cache-n8e7in{
                max-height: 450px;
                padding-top: 125px;
                height: 400px;
                }
[data-testid=stSidebar]:nth-of-type(1) [data-testid=stVerticalBlock]{
                 gap: 0rem;
				 max-height: 450px;
                }
[data-testid=stSidebar] [data-testid=stImage]{
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                }
[data-testid=stSidebar] a:link{
                text-decoration: none;
                color: blue
                }
